h1{
    text-align: center;
    color: #0e0a0a;
    
}

.jumbotron{
    background-image: url("C:/Users/Joya/Desktop/Mini_Project/bg2.jpg");
    background-attachment: fixed;
}
.well{
    background-color: rgba(196, 168, 221,0.7);
}
.panel{
    background-color: rgb(197, 134, 118);
    background-image: linear-gradient(rgb(31, 5, 65), rgb(218, 240, 167));
    background-size: contain; 
    position: relative;
}
